<div *ngFor="let item of dataItems | keyvalue">
  <ul class="list" [ngClass]="{'default': getTypeOf(item.value) === 'object' || getTypeOf(item.value) === 'array', 'non-extend': getTypeOf(item.value) !== 'object' && getTypeOf(item.value) !== 'array'}">
    <li class="item" (click)="toggle($event)">
      <div class="title-wrapper" (mouseenter) ="mouseEnterEl($event)"  (mouseleave) ="mouseLeaveEl($event)">
        {{item.key}}
        <span>
          {{ getTypeOf(item.value) === 'object' ?  '{' + ObjectSize (item.value) + '}' : getTypeOf(item.value) === 'array' ? '[' + item.value.length + ']' : ' : ' + item.value}}
        </span>
        <img class="copy" src="../../../../assets/img/copy-el.png" (click)="$event.stopImmediatePropagation()" [text-copy]="getCopyString(item.key, item.value)" alt="">
      </div>
      <div class="wrapper-expand">
        <p class="empty" *ngIf="!item.value.length && getTypeOf(item.value) === 'array'">
          (empty array)
        </p>
        <app-data-items [dataItems]="item.value"></app-data-items>
      </div>
    </li>
  </ul>
</div>
