.uploadfilecontainer {
  height: 100%;
  min-height: 61vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  label {
    font-size: 32px;
    color: #E6ECF5;
    text-align: center;
  }
}
